@import url('https://fonts.googleapis.com/css2?family=Acme&family=Montserrat&display=swap');

body {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body::-webkit-scrollbar{
  display:none;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

nav{
  background-color: black;
  box-sizing: border-box;
  /* position: fixed; */
  top:0;
  left:0;
  width: 100%;
  height: 4em;
}

.nav-logo{
  color: white;
  font-size: 2.3rem;
  font-family: 'Acme', sans-serif;
}

.nav-toggle{
  color: black;
  border: none;
  background-color: white;
  font-size: 1.2em;
  height: 1.5em;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

button{
  cursor:pointer;
  font-family: 'Montserrat', sans-serif;
}

.action-btn{
  border: none;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 1em 2em;
  border-radius: 5px;
}

/* MOBILE */

/* navbar */

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.nav-header{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1em;
}

.nav-links{
  display: none;
}



/* hero */

.hero-container{
  min-height: 90vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.hero-center{
  display: grid;
  place-items: center;
}

.hero-container::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 90%;
  top:0;
  left:0;
  background: url(./images/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;

}

.hero-info{
  width: 80%;
  min-width: 350px;
}

.hero-info h1{
  font-size: 5em;
  margin-bottom: 0;
  margin-top:0;
}

.hero-info p{
  text-align: justify;
  text-justify: inter-word;
}

.hero-img{
  display: none;
}

/*  sidebar */

.sidebar-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  transform: scale(0);
  display: grid;
  place-items: center;
}

.sidebar{
  box-sizing: border-box;
  background-color: white;
  width: 95%;
  max-width: 500px;
  min-width: 350px;
  height: 95%;
  border-radius: 5px;
  padding: 3em;
  position: relative;
}

.show-sidebar{
  visibility: visible;
  transform: scale(1);
  transition: 0.15s;
}

.close-btn{
  border: none;
  background-color: transparent;
  color: black;
  font-size: 2em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: .2em;
}

.sidebar-links h3{
  text-transform: capitalize;
}

.sidebar-sublinks{
  text-transform: capitalize;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1em;
}

/* .sidebar-sublinks a:hover{
  transition: 0.15s;
  transform: translateX(10);
  color: red;
} */


/* DESKTOP */

@media screen and (min-width: 800px) {

  .nav-toggle{
    display: none;
  }

  nav{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .4em 1em;
  }

  .nav-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 5em;
  }

  .link-btn{
    background: transparent;
    border: none;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
  }

}

@media screen and (min-width: 800px) {

  .hero-info{
    height: 70%;
    width: 50%;
  }

  .hero-img{
    display: block;
  }

  .hero-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8em;
    width: 70vw;
  }

}

@media screen and (min-width: 800px) {
  .submenu-container{
    position: absolute;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    padding: 1em;
    border-radius: 5px;
    background-color: white;
    transform: translateX(-50%);
    transition: all 0.3s linear;
  }

  .submenu-container::before {
    content: '';
    display: block;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
  }

  .submenu-container h4{
    text-transform: capitalize;
  }

  .submenu-center {
    display: grid;
    gap: 1.5rem 2rem;
  }

  .col2 {
    grid-template-columns: repeat(2, 1fr);
   }
   .col2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .col4 {
    grid-template-columns: repeat(4, 1fr);
  }

  
}